*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;

    height: 60px;
    width: 96%;

    left: 2%;
    top: 20px;
    background: red;
}
nav{
    height: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
ul li{
    margin: 30px;
}
section{
    height: 100vh;
}
.container{
    height: 100%;
    max-width: 1000px;
    margin: auto;
}
#hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-container h1{
    font-size: 50px;
    margin: 10px;
}
#hero-container em{
    margin: 10px 0 60px;
}
.main-cta{
    border: 2px solid black;
    padding: 20px 40px;
}