:root {
  --color-1: #e94f37;
  --color-2: #f6f7eb;
  --color-3: #593c8f;
  --color-4: #fffc31;
  --color-5: #3b8ea5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Noto Serif TC, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Noto Sans TC, sans-serif;
}
header {
  position: fixed;

  height: 60px;
  width: 96%;

  left: 2%;
  top: 20px;
  background: var(--color-1);

  color: var(--color-2);
  font-family: Noto Sans TC, sans-serif;

  transition: clip-path 0.6s ease-in-out;
  cursor: pointer;
}
header:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

a {
  text-decoration: none;
  color: inherit;
}
nav {
  height: 100%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
ul li {
  margin: 30px;
  position: relative;
}
ul li::after {
  content: "";
  position: absolute;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: var(--color-2);
  display: block;
  transform-origin: center center;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}
ul li:hover::after {
  transform: scale(1);
}
section {
  height: 100vh;
}
.container {
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

#hero {
  background-color: var(--color-2);
}

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-container h1 {
  font-size: 40px;
  font-family: Noto Sans TC, sans-serif;
  margin: 10px;
}
#hero-container em {
  margin: 10px 0 60px;
  font-family: Noto Serif TC, serif;
  font-style: normal;
}
.main-cta {
  font-size: 20px;
  font-family: Noto Sans TC, sans-serif;
  border: 2px solid var(--color-1);
  color: var(--color-1);
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
}
.main-cta:hover {
  color: var(--color-2);
  background-color: var(--color-1);
}
#services {
  background-color: var(--color-5);
}

.services-h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px;
  color: var(--color-2);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--color-1);
  width: 300px;
  height: 300px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2%;
}
.card h3{
    color: var(--color-4);
    font-size: 30px;
}
.cta {
  font-size: 20px;
  font-family: Noto Sans TC, sans-serif;
  border: 2px solid var(--color-4);
  color: var(--color-4);
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}
.cta:hover {
  color: var(--color-1);
  background-color: var(--color-4);
}
.see-more-services {
  text-align: right;
  padding-top: 40px;
}
.see-more-services a {
  font-size: 20px;
  font-family: Noto Sans TC, sans-serif;
  border: 2px solid var(--color-2);
  color: var(--color-2);
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
}
.see-more-services a:hover {
  color: var(--color-5);
  background-color: var(--color-2);
}
#about {
  background-color: var(--color-4);
}
.about-h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px;
  color: var(--color-5);
}
.about-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-panel img {
  width: 40%;
}
.about-content {
  width: 40%;
}
.see-more-about {
  text-align: right;
  padding-top: 40px;
}
.see-more-about a {
  font-size: 20px;
  font-family: Noto Sans TC, sans-serif;
  border: 2px solid var(--color-5);
  color: var(--color-5);
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
}
.see-more-about a:hover {
  color: var(--color-4);
  background-color: var(--color-5);
}
#contact {
  background-color: var(--color-1);
}
.contact-h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px;
  color: var(--color-4);
}
.contact-panels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.or-p {
  color: var(--color-4);
  font-family: Noto Sans TC, sans-serif;
  position: relative;
}
.or-p::before,
.or-p::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 2px;
  background-color: var(--color-4);
  display: block;
  left: 50%;
}
.or-p::before {
  bottom: 100%;
}
.or-p::after {
  top: 100%;
}
.form-temp {
  height: 400px;
  width: 400px;
  background-color: var(--color-4);
}
footer {
  background-color: var(--color-3);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: Noto Sans TC, sans-serif;
  color: var(--color-2);
}
